body{
	background-color: rgb(55, 128, 173)
}
#container{
	margin-top:30px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#header_ransom{
	text-align:center;
	padding-top:2px;
	padding-bottom:10px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100px;
	background-color: white;
	border-radius: 11px;
	border-radius: 11px;
	margin-bottom: 15px;
}
#jester{
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-position: center center;
	background-image: url("jester.png");
	background-repeat: no-repeat;
}
.ophello{
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 2px;
	margin-bottom: 2px;
}
.information{
	font-size: 14px;
	font-family: sans-serif;
	line-height: 18px;
	width: 70%;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 2px;
}
.red{
	color:red !important;
}
.time{
	font-size: 2em;
	font-family: sans-serif;
	margin-top: 2px;
	margin-bottom: 2px;
}
.diclaimer{
	color: white;
	width: 520px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.more_information{
	font-family: sans-serif;
	border-top: 1px solid black;
	min-height: 15px;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}
.minfo{
	font-family: sans-serif;
	font-size: 14px;
	width:30%;
	float:left;
	margin-top: 2px;
	margin-bottom: 2px;
}
#menu_ransom{
	width: 900px;
	min-height: 20px;
	text-align:center;
	margin-bottom:20px;
}
.button{
	font-family: sans-serif;
	height: 25px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.62) !important;
	color: black;
}
